@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="index">Index</h2>

<div class="container" style="width:100%;">
    <button class="downloadcv">Download CV</button>
</div>

<div class="" style="position: relative;text-align: center;">
    <div class="Shortdescription">
        <h3>Hai,I am Rakesh</h3>
        <h3>.NET developer, Skilled in ASP.NET MVC and WPF MVVM</h3>
        <h5>I Love to create attractive user friendly Application</h5>
    </div>
</div>

<nav class="navbar firstNav">
    <div class="container-fluid headerbg" style="padding:50px">
        <div style="font-size:50px;color:white">
            <h1>I Love to create Web And Desktop Applications</h1>
            <h3>Please have one flash across my outline </h3>
        </div>
    </div>
    <div class="container-fluid">
        <div style="font-size:40px;text-align:center;padding:50px">
            <p>WHAT I <span class="text-primary" style="text-shadow:10px">DO</span></p>
            <h3>Please take a look on my profile </h3>
        </div>

        <div class="row" style="width:100%;margin-bottom:10px">
            <div class="col-md-6"> 
                <img src="~/Images/ProgramingImage.jpg" style="text-align:center" />
            </div>
            <div class="col-md-6">
                <div class="row" style="margin-top:20px">
                    <div class="column contentDescription">
                        <img src="~/Images/Web developer.jpg" class="small--img" style="margin-top:0" />
                        <div class="textdiv">
                            <h4>WEB APPLICATIONS</h4>
                            <p>Develeop web Applications with both front-end and back-end Connections</p>
                        </div>
                        <div>
                        </div>
                    </div>

                    <div class="column contentDescription">
                        <img src="~/Images/Automation_Tools.jpg" class="small--img" style="margin-top:0" />
                        <div class="textdiv">
                            <h4>AUTOMATION BOTS</h4>
                            <p>Automate any kind of Web Applications on Desktop based Applications</p>
                        </div>
                    </div>

                    <div class="column contentDescription">
                        <img src="~/Images/WebCrawler_Tool.png" class="small--img" style="margin-top:0" />
                        <div class="textdiv">
                            <h4>CRAWLER BOTS</h4>
                            <p>Scrape the details from any kind of web Applications on desktop based Applications</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid headerbg" style="padding:40px">
        <div style="text-align:center;padding:40px">
            <p style="font-size:30px">WHO AM I</p>
            <h4>A software developer with .Net Framework</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/RakeshImage.jpg" class="circle" />
            </div>
            <div class="col-md-6">
                <div class="row" style="margin-top:80px">
                    <h2>
                        Hello, I am Rakesh
                    </h2>
                    <h4 style="margin-top:20px">
                        A software developer at Globussoft Technology. I have graduated with a Bachelor's Degree from CITech, Banglore. I have experienced as a software developer.
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div style="font-size:40px;text-align:center;padding:50px">
            <p>MY WORKS</p>
            <h4>Take a look on my works </h4>
            <hr />
        </div>
    </div>

    <div class="container-fluid">
        <div style="font-size:40px;text-align:center;padding:10px">
            <p>MY EXPERIENCE</p>
            <h4>Take a look on my Experience</h4>
            <hr />
        </div>

        <div style="display: flex;align-content:center;justify-content: center;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:25px;margin-bottom:10px;margin-top:5px">
            <img src="~/Images/globussoft-squarelogo.png" class="small--img" style="margin-top:0" />
            <div style="text-align:center">
                <h4>Globussoft Technology</h4>
                <p>Develeop web Applications with both front-end and back-end Connections</p>
            </div>
            <div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color:blueviolet;justify-content:center;margin-bottom:0;">
        <div style="font-size:40px;text-align:center;padding:50px">
            <p>KEEP IN TOUCH WITH ME</p>
            <hr />
        </div>

        <div class="row" style="width:100%;margin-bottom:10px">
            <div class="col-md-6" >
                <div style="display: flex;align-content:center;background-color:white;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:25px;margin-bottom:10px;margin-top:5px">
                    <img src="~/Images/LocationSymbol.png" class="small--img" style="margin-top:0;" />
                    <div style="text-align:center;justify-content: center;">
                        <h4>MEET AT</h4>
                        <p>Globussoft Technology Pvt. Limited</p>
                        <p>Bhilai-540020</p>
                    </div>
                    <div>
                    </div>
                </div>

                <div style="display: flex;align-content:center;background-color:white; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:25px;margin-bottom:10px;margin-top:5px">
                    <img src="~/Images/PhoneSymbol.jpg" class="small--img" style="margin-top:0;" />
                    <div style="text-align:center;justify-content: center;">
                        <h4>CONTACT ME AT</h4>
                        <p>+91 9874563210</p>
                    </div>
                    <div>
                    </div>
                </div>

                <div style="display: flex;align-content:center;background-color:white;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:25px;margin-bottom:10px;margin-top:5px">
                    <img src="~/Images/MailSymbol.jpg" class="small--img" style="margin-top:0;" />
                    <div style="text-align:center;justify-content: center;">
                        <h4>DROP QUERY AT</h4>
                        <p>rakeshallikatti9698@gmail.com</p>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" id="ex1" type="text" placeholder="Name*" style="padding:25px;margin-top:5px;border-radius:20px">
                </div>
                
                <div class="form-group">
                    <input class="form-control" id="ex2" type="email" placeholder="Email*" style="padding:25px;margin-top:5px;border-radius:20px">
                </div>

                <div class="form-group">
                    <input class="form-control" id="ex3" type="number" placeholder="Number*" style="padding:25px;margin-top:5px;border-radius:20px">
                </div>

                <div class="form-group">
                    <textarea class="md-textarea form-control" rows="10" cols="10" style="margin-top:5px;border-radius:20px" placeholder="Write Something"></textarea>
                </div>

                <div class="form-group">
                    <button class="form-control" style="padding:20px;margin-top:10px;border-radius:20px;background-color:#00004d;color:white;font-size:15px;margin-bottom:20%;">Submit Query</button>
                </div>
            </div>
        </div>

    </div>



</nav>




